# .gitignore
etc/
Include/
Lib/
Library/
Scripts/
share/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
.DS_Store
*.sqlite3
*.log
*.pot
*.mo
*.swp
*.swo
*.swn
*.bak
*.tmp
*.old
*.orig
*.save
*.sublime-project
*.sublime-workspace
.idea/
.vscode/